.cat-change__img-container {
  display: flex;
  position: relative;
  align-items: center;
  width: 320px;
  margin: 0 auto 35px;
  height: 240px;
  transition: 0.5s;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 708px;
    height: 465px;
  }

  @media (min-width: $desktop-width) {
    height: 536px;
    bottom: 20px;
    margin-bottom: 10px;
  }
}

.cat-change__img--1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-image: url("../img/cat-change/cat-fat-2.png");
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-size: cover;
    background-position-x: 50px;
    background-position-y: 4px;
  }

  @media (min-width: $desktop-width) {
    height: 536px;
    background-size: auto;
    background-position-x: -15px;
    background-position-y: 10px;
  }
}

.cat-change__img--2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  z-index: 10;
  transform: scaleX(-1);
  background-image: url("../img/cat-change/cat-skinny-2.png");
  background-size: 240px auto;
  background-position-y: bottom;
  background-position-x: 10px;
  background-repeat: no-repeat;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    left: auto;
    right: 0;
    height: 100%;
    background-size: cover;
    background-position-x: 68px;
    transform: scaleX(-1);
  }

  @media (min-width: $desktop-width) {
    background-size: auto;
    background-position-x: 60px;
    background-position-y: 10px;
  }
}

//<!DOCTYPE Liky>
