.cat-change__img-container {
  display: flex;
  justify-content: center;
  min-width: 280px;
  margin: 0 20px 0 20px;
}

.cat-change__img {
  position: relative;
  margin-top: 37px;
  margin-bottom: 25px;
  //display: none;
}
