.cat-change {
  @include container();
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 30px;
  background-color: $light-gray;

  @media (min-width: $tablet-width) {
    padding: 0 0 50px;
    border-top: 1px solid $light-gray-border;
    background-color: $main-color;
    background-image: linear-gradient($main-color 0%, $main-color 57%, $footer-gray 57%, $footer-gray 100%);
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    background-image: linear-gradient(90deg, rgba(242, 242, 242, 1) 0%, rgba(242, 242, 242, 1) 72.56%, rgba(233, 233, 233, 1) 72.56%, rgba(233, 233, 233, 1) 100%);
    background-position: bottom;
    background-size: 100% 463px;
    background-repeat: no-repeat;
    justify-content: space-between;
    border-top: none;
    padding: 0 110px 61px;
  }
}

//<!DOCTYPE Liky>
