.how-it-work__list {
  display: grid;
  grid-template: repeat(4, 1fr)/1fr;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    width: 100%;
    grid-gap: 65px 0;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
  }
}
