.how-it-work {
  @include container();
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    margin-bottom: 7px;
    min-width: 1100px;
  }
}

.how-it-work__inner {
  min-width: 280px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    margin: 0 auto;
  }
}

.how-it-work__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
  color: $pre-black-color;
  margin: 0 0 35px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

//<!DOCTYPE Liky>
