.privileges-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  min-width: 240px;
  max-width: 780px;
  margin: 0 20px;
  padding: 0;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    max-width: 1200px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
}

//<!DOCTYPE Liky>
