.privileges__list-item {
  position: relative;
  min-width: 240px;
  width: 100%;
  padding: 29px 20px 20px;
  margin-bottom: 22px;
  background-color: $footer-gray;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    min-width: 708px;
    padding: 75px 50px 62px 53px;
    margin-bottom: 28px;
    box-sizing: border-box;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 300px;
    padding: 76px 50px 62px;
    margin: 0 80px 0 0;

    &:last-child {
      margin: 0;
    }
  }
}

.privileges__item-img {
  position: absolute;
  top: 22px;
  left: 24px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 211px;
    top: 80px;
    left: auto;
    right: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 111px;
    top: 10%;
    left: 9%;
    right: 60px;
  }
}

.privileges__item-img--2 {
  top: 21px;
  left: 14px;

  @media (min-width: $tablet-width) {
    width: 269px;
    height: 200px;
    top: 91px;
    left: auto;
    right: 28px;
  }

  @media (min-width: $desktop-width) {
    width: 140px;
    height: 100px;
    top: 12%;
    left: 5%;
    right: 28px;
  }
}

.privileges__title {
  @include uppercase();
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  color: $pre-black-color;
  font-weight: 400;
  padding-left: 72px;
  margin: 0 0 30px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 37px;
    width: 380px;
    padding-left: 0;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 165px;
    width: auto;
    margin-bottom: 74px;
  }
}

.privileges__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
  border-bottom: 1px solid $footer-gray-border;
  margin: 0 0 20px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 380px;
    border-bottom: none;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-left: 2px;
    padding-bottom: 0;
    margin-bottom: 30px;
  }
}

.catalog-button {
  @include uppercase();
  position: relative;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $pre-black-color;
  text-decoration: none;
  display: block;

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 12px;
    top: 5px;
    left: 135px;
    background-image: url("../img/icons/icon-arrow.svg");
    background-repeat: no-repeat;
  }

  &:hover::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 12px;
    top: 5px;
    left: 135px;
    transition: background-image 0.1s;
    background-image: url("../img/icons/icon-arrow--big.svg");
    background-repeat: no-repeat;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 2px;
  }
}

.catalog-button > .icon-arrow {
  margin: 0 0 2px 15px;

  @media (min-width: $tablet-width) {
    margin: 0 0 2px 25px;
  }
}

//<!DOCTYPE Liky>
