.promo__title-wrapper {
  text-align: center;
  font-family: "Oswald Regular", sans-serif;
  color: $main-color;

  @media (min-width: $tablet-width) {
    color: $black-color;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-style: normal;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $pre-black-color;
    text-align: left;
    width: 420px;
    margin-bottom: 42px;
  }
}

.promo__subtitle {
  @include uppercase();
  font-size: 14px;
  line-height: 14px;
  font-style: normal;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    text-align: left;
    width: 420px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 49px;
  }
}
