.promo__title-wrapper {
  text-align: center;
  font-family: "Oswald Regular", sans-serif;
  color: $main-color;

  @media (min-width: $tablet-width) {
    color: $black-color;
  }

  @media (min-width: $desktop-width) {
    width: fit-content;
    order: 1;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-style: normal;
  font-weight: 400;
  margin: 25px 0;

  @media (min-width: $tablet-width) {
    position: relative;
    left: -2px;
    font-size: 60px;
    line-height: 60px;
    color: $pre-black-color;
    text-align: left;
    width: 420px;
    margin: 0 0 40px 0;
    padding: 50px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 79px;
    padding: 0;
  }
}

.promo__subtitle {
  @include uppercase();
  font-size: 14px;
  line-height: 14px;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    text-align: left;
    width: 420px;
    font-size: 20px;
    line-height: 20px;
    margin: 42px 0 49px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 53px;
  }
}

//<!DOCTYPE Liky>
