.cat-change {
  @include container();
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 34px;
  background-color: $light-gray;
}

.cat-change__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $pre-black-color;
  margin: 0 0 23px;
  padding-top: 17px;
}

.cat-change__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
  margin: 0 0 25px;
  padding-right: 1px;
}

.cat-change__result {
  min-width: 280px;
}

.cat-change__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0 0 33px;
  padding: 0;
}

.cat-change__item {
  width: 122px;
  text-align: center;
  padding: 13px 0 18px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  position: relative;
}

.cat-change__item-text {
  @include uppercase();
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: $pre-black-color;
  margin: 0;
}

.cat-change__item-sub-text {
  position: absolute;
  bottom: -15px;
  left: 50%;
  min-width: 80px;
  transform: translateX(-50%);
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $special_dark-grey;
  background-color: $light-gray;
  margin: 0 auto;
  padding: 0 9px;
}

.cat-change__money-spent {
  @include uppercase();
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $pre-black-color;
  text-align: center;
  margin: 0 0 0 3px;
}

/* ----- */

.cat-change__example {
  min-width: 280px;
  width: 100%;
}

.cat-change__img-container {
  display: flex;
  justify-content: center;
  min-width: 280px;
  margin: 0 20px 0 20px;
}

.cat-change__img {
  position: relative;
  margin-top: 37px;
  margin-bottom: 25px;
  //display: none;
}

.cat-change__range-container {
  display: flex;
  justify-content: center;
  min-width: 280px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.cat-change__range__before {
  @include uppercase();
  background-color: transparent;
  border: 0;
  padding: 0;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.cat-change__range {
  width: 82px;
  height: 12px;
  border: 1px solid $special_grey;
  background-color: $main-color;
  border-radius: 6px;
  margin-left: 20px;
  margin-right: 17px;
}

.cat-change__range__after {
  @include uppercase();
  background-color: transparent;
  border: 0;
  padding: 0;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}
