.main-title {
  font-family: "Oswald Regular","Arial",sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111;
  margin: 0 auto 28px;
  padding: 14px 20px 0;
  border-top: 1px solid #e6e6e6;
}
