.main-header__logo {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  padding: 11px 0;

  /* Outline */
  /*outline: 5px solid blue;
  outline-offset: -5px;*/
}

.header-logo-img-2 {
}
