.how-it-work {
  @include container();
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $main-color;
  padding: 0 20px;
  margin-bottom: 36px;
}

.how-it-work__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
  color: $pre-black-color;
  margin: 0 0 35px;
}

.how-it-work__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.how-it-work__item {
  display: flex;
  margin-bottom: 16px;
}

.how-it-work__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
  margin: 0;
}

.how-it-work__background-number {
  @include hidden();
}

.how-it-work__img {
  margin-right: 20px;
  background-color: $light-green;
  padding: 5px;
  width: 50px;
  height: auto;
}
