.main-nav {
  display: block;
  @include container();
  height: fit-content;

  /* Outline */
  /*outline: 5px solid orange;
  outline-offset: -5px;*/
}

.nav-list {
  display: block;
  @include container();
  box-sizing: content-box;
  float: right;
  text-align: center;
  list-style: none;

  /* Outline */
  /* outline: 5px solid cyan;
  outline-offset: -5px;*/
}

.nav-list--style {
  font-size: 20px;
  font-weight: 500;
  font-family: "Oswald Medium";
}

.nav-list__item {
  font-family: "Oswald Medium","Arial",sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: $pre-black-color;
  text-decoration: none;
  @include uppercase();
  white-space: nowrap;
  display: block;
  width: 100%;
  padding: 22px 0;
  text-align: center;
  border-top: 1px solid $light-gray-border;

  &:last-child {
  border-bottom: 1px solid $light-gray-border;
  }

  /* Outline */
  /*outline: 5px solid lime;
  outline-offset: -5px;*/
}

.nav-list__item--current {
  &.nav-list__item {
    border-bottom: 1px solid $light-green;
  }
}

.main-nav--closed .nav-list {
  display: none;
}

//<!DOCTYPE Liky>
