.order-all-gift {
  min-width: 280px;
  min-height: 225px;
  background: center/280px no-repeat;
  background-image: linear-gradient(to top, $light-green-background, $light-green-background), url("../img/logo/catalog-gift-background.png");
  padding-top: 65px;
}

.gift__img {
  display: block;
  margin: 0 auto 60px;
}

.gift__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $main-color;
  width: 170px;
  text-align: center;
  margin: 0 auto;
}
