.page {
  min-height: 100%;
  font-size: 10px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  line-height: 27px;
}

.body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: $main-color;
  color: $black-color;
}

.visualy-hidden {
  display: none;
  /*position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;*/
}

.visualy-hidden--2 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
