.form-wrapper {
  display: flex;
  flex-direction: column;
}

.form-wrapper__item {
  padding: 0 20px;
}

.program-selection {
  border: 1px solid $catalog-border-color;
  margin-bottom: 28px;
}

.choise-programm {
  padding: 27px 0;
  margin-bottom: 0;

  & .list-item {
    margin-bottom: 25px;
  }

  & :last-child {
    margin-bottom: 0;
  }
}

.form__radio-input {
  margin: 0 15px 0 0;
}
