.privileges-list {
  padding: 0;
  min-width: 280px;
  width: 100%;
  margin: 0 20px 0 20px;
  list-style: none;
}

.privileges__list-item {
  position: relative;
  min-width: 240px;
  padding: 29px 20px 20px;
  margin-bottom: 22px;
  background-color: #f2f2f2;
}

.privileges__item-img {
  position: absolute;
  top: 22px;
  left: 24px;
}

.privileges__item-img--2 {
  top: 21px;
  left: 14px;
}

.privileges__title {
  font-family: "Oswald Regular","Arial",sans-serif;
  font-size: 24px;
  line-height: 37px;
  color: $pre-black-color;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 72px;
  margin: 0 0 30px;
}

.privileges__description {
  font-family: "Arial",sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444;
  border-bottom: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding-bottom: 22px;
}

.catalog-button {
  font-family: "Oswald Regular","Arial",sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $pre-black-color;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  position: relative;
}

.icon-arrow {
  margin: 0 0 2px 15px;
}
