.promo__title-wrapper {
  text-align: center;
  font-family: "Oswald Regular", sans-serif;
  color: #fff;

  /* Outline */
  /*outline: 5px solid blue;
  outline-offset: -5px;*/
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-style: normal;
  font-weight: 400;
}

.promo__subtitle {
  font-size: 14px;
  line-height: 14px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}
