.additional-products__item {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid $special_grey;

  &:hover .additional-products__item-title {
    color: $light-green;
    transition: 0.2s;
  }

  &:last-child {
    border-bottom: 1px solid $special_grey;
  }

  @media (min-width: $tablet-width) {
    align-items: baseline;
    border: 1px solid $light-gray-border;
    border-bottom: none;
    padding: 0 36px;

    &:last-child {
      border-bottom: 1px solid $light-gray-border;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 780px;
    max-width: 895px;
    box-sizing: border-box;
    padding: 0;
    border-left: none;
    border-right: none;
    justify-content: flex-end;
  }

  @media (min-width: 1440px) {
    min-width: 895px;
    max-width: initial;
    width: 100%;
  }
}

.additional-products__item-title {
  @include uppercase();
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $special_dark-grey-2;
  transition: 0.2s;
  width: 100%;
  margin: 13px 0;

  @media (min-width: $tablet-width) {
    width: auto;
    font-size: 20px;
    line-height: 20px;
    margin: 25px auto 25px 0;
    padding-left: 2px;
  }
}

.additional-products__quantity {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $special_dark-grey;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    width: 132px;
    margin: 0 112px 0 0;
    text-align: left;
  }
}

.additional-products__price {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $special_dark-grey;
  margin: 0 0 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-left: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 45px;
    margin-right: 38px;
  }
}

.additional-products__order {
  @include uppercase();
  font-family: $font-stack--Oswald-Regular;
  font-size: 16px;
  line-height: 20px;
  color: $main-color;
  text-align: center;
  width: 100%;
  background-color: $light-green;
  border: 0;
  padding: 10px 0;
  margin-bottom: 17px;
  margin-top: 15px;

  &:hover {
    background-color: $basic_green-2;
  }

  &:active {
    color: rgba($main-color, 0.3);
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin: 0;
  }
}

//<!DOCTYPE Liky>
