.additional-products__title {
  @include container();
  position: relative;
  display: inline-block;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: $pre-black-color;
  font-weight: 400;
  background-color: $main-color;
  margin: 0 0 35px;
  padding: 0 20px;

  &::before {
    content: "";
    position: absolute;
    width: 53px;
    height: 3px;
    top: 14px;
    right: 0;
    background-color: $light-green;
  }
}
