.additional-products__wrapper {
  @include container();
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 110px;
    flex-direction: row;
  }

  @media (min-width: 1440px) {
    padding: 0 110px 0;
  }
}

//<!DOCTYPE Liky>
