.additional-products__title {
  @include container();
  min-width: 5px;
  width: fit-content;
  position: relative;
  display: inline-block;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: $pre-black-color;
  font-weight: 400;
  background-color: $main-color;
  margin: 0 0 35px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    display: inline-block;
    font-size: 36px;
    line-height: 36px;
    padding: 0 30px 0 37px;
    margin: 0 auto 80px 30px;
  }
}
