.order-button {
  @include uppercase();
  display: block;
  background-color: $light-green;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $main-color;
  border: 0;
  padding: 10px 0;
  margin-bottom: 24px;
  text-align: center;
  min-width: 280px;
  width: 100%;
  box-sizing: border-box;

  &:hover {
    background-color: $basic_green-2;
  }

  &:active {
    color: rgba($main-color, 0.3);
  }

  @media (min-width: $tablet-width) {
    min-width: initial;
    max-width: 250px;
    margin-top: 35px;

  }

  @media (min-width: $desktop-width) {
    min-width: 169px;
    width: 169px;
  }
}

//<!DOCTYPE Liky>
