.products__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 209px;
  box-sizing: border-box;
  border-top: 1px solid $catalog-border-color;
  padding: 0 20px;

  &:hover .products__img {
    bottom: 10px;
    transition: 0.2s;
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 324px;
    max-height: 430px;
    background-color: $footer-gray;
    border-top: none;
    padding: 165px 0 0;
    // margin: 90px auto 50px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    // width: fit-content;
    width: 245px;
    height: 431px;
  }
}

.products__picture {
  margin: auto;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.products__img {
  margin-left: auto;
  transition: 0.2s;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

//<!DOCTYPE Liky>
