.show-all {
  display: block;
  text-align: center;
  box-sizing: border-box;
  border-top: 1px solid $catalog-border-color;
  border-bottom: 1px solid $catalog-border-color;
  background-color: $main-color;
  // margin: 0;
  padding: 0 19px;

  @media (min-width: $tablet-width) {
    min-width: 324px;
    max-height: 430px;
    border: 1px solid $light-gray-border;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 53px;
    // margin: 90px auto 48px;
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    max-height: 430px;
    // margin: 90px auto 50px;
  }
}

.shaw-all-icon {
  width: 30px;
  height: auto;
  margin-bottom: 23px;
  margin-top: 25px;
  stroke: $icon-gray-color;
  transform: rotate(-0deg);
  transition: stroke 0.5s, transform 0.2s;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin-top: 0;
  }
}

.show-all:hover > .products-item__shaw-all-icon {
  stroke: $light-green;
  transform: rotate(90deg);
  transition: stroke 0.5s, transform 0.2s;
}

.show-all__title {
  @include uppercase();
  font-family: $font-stack--Oswald-Regular;
  font-size: 16px;
  line-height: 20px;
  color: $pre-black-color;
  margin: 0 0 8px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 135px;
    margin: auto 26px;
  }
}

.show-all__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 170px;
    margin-bottom: 50px;
  }
}

.show-all__button {
  @include uppercase();
  font-family: $font-stack--Oswald-Regular;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  background-color: $footer-gray;
  display: block;
  color: $special_dark-grey;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 30px;

  &:hover {
    background-color: $special_grey-3;
  }

  &:active {
    color: rgba($special_dark-grey, 0.3);
  }

  @media (min-width: $tablet-width) {
    padding: 10px 0;
    margin-bottom: 20px;
  }
}

//<!DOCTYPE Liky>
