.pixel-perfect__button {
  position: fixed;
}

.pixel-perfect__img {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 50%;
  pointer-events: none;
  transform: translateX(-50%);
  overflow: hidden;
  opacity: 0;
}

//<!DOCTYPE Liky>
