.form__fieldset--data-comment {
  /*@media (min-width: $tablet-width) {

  }*/
}

.form__textarea {
  @include form-element();
  width: 100%;
  box-sizing: border-box;
  min-height: 150px;
  border: 1px solid $light-gray-border-2;
  margin-bottom: 20px;
  padding: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}
