.form__fieldset--data-owner {
  /*@media (min-width: $tablet-width) {}

  @media (min-width: $desktop-width) {}*/
}

.form__text-input-icon {
  position: absolute;
}

.form__text-input-icon--email {
  right: 34px;

  @media (min-width: $tablet-width) {
    right: 90px;
  }

  @media (min-width: $desktop-width) {
    right: 130px;
  }
}

.form__text-input-icon--phone {
  right: 31px;

  @media (min-width: $tablet-width) {
    right: 87px;
  }

  @media (min-width: $desktop-width) {
    right: 127px;
  }
}
