.program-form {
  @include container();
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
  }
}

.main-subtitle {
  @include uppercase();
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $pre-black-color;
  margin: 0 auto 38px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0 70px;
    margin: 0 auto 65px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.form__text-input {
  @include form-element();
  flex-grow: 1;
  border: 1px solid $light-gray-border-2;
  box-sizing: border-box;
  margin-left: 15px;
  padding: 12px;

  &:hover {
    border-color: $special_grey;
  }

  &:focus {
    outline: none;
    border: 2px solid $special_dark-grey;
    border-radius: 0;

    .form__text-input-icon {
      color: $light-green;
      stroke: $light-green;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 15px;
  }
}

.form__label {
  @include form-element();
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  .form__label-checkbox {
    color: $black-color;
  }

  .form__label-radio {
    color: $special_dark-grey-2;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

input:required:invalid {
  border: 2px solid $error-color;

  & ~ .form__text-input-icon {
    color: $error-color;
  }

  & ~ .form__text-input-icon--email {
    stroke: $error-color;
  }
}

//<!DOCTYPE Liky>
