.form__fieldset {
  position: relative;
  border: 0;
  padding: 0;
  margin: 0 auto 5px;
}

.form__fieldset-wrapper {
  @include container();
  padding: 0 20px;
}

.form__legend {
  display: inline-block;
  position: relative;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $black-color;
  background-color: $main-color;
  margin: 0 0 34px;
}
