.form__fieldset {
  position: relative;
  border: 0;
  padding: 0;
  margin: 0 auto 5px;

  &::after {
    content: "";
    position: absolute;
    width: 50%;
    top: 14px;
    right: 0;
    height: 3px;
    z-index: -1;
    background-color: $light-green;
  }

  @media (min-width: $tablet-width) {
    &::after {
      width: 100%;
    }
  }
}

.form__fieldset-wrapper {
  @include container();
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.form__legend {
  display: inline-block;
  position: relative;
  font-family: $font-stack--Oswald-Regular;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $black-color;
  background-color: $main-color;
  margin: 0 0 34px;
  padding: 0 25px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
    margin: 0 30px 76px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
    margin: 0 70px 75px;
  }
}

//<!DOCTYPE Liky>
