.form__fieldset--data-owner {
  &::after {
    content: "";
    position: absolute;
    width: 31.25%;
    top: 14px;
    right: 0;
    height: 3px;
    background-color: $light-green;
  }
}

.form__text-input-icon {
  position: absolute;
}

.form__text-input-icon--email {
  right: 34px;
}

.form__text-input-icon--phone {
  right: 31px;
}
