.form__textarea {
  @include form-element();
  width: 100%;
  box-sizing: border-box;
  min-height: 150px;
  border: 1px solid $light-gray-border-2;
  margin-bottom: 20px;
  padding: 12px;

  &:focus {
    outline: none;
    border: 2px solid $special_dark-grey;
    border-radius: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

//<!DOCTYPE Liky>
