.main-header__logo {
  display: flex;
  align-items: center;
  padding: 11px 0;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-header__logo-2 {
  position: relative;
  top: -1px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

//<!DOCTYPE Liky>
