.main-header__logo {
  display: flex;
  align-items: center;
  padding: 11px 0;
  user-select: none;

  @media (max-width: $mobile-width-only) {
    position: absolute;
    top: 0;
    left: 20px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-header__logo-2 {
  position: relative;
  top: -1px;
  left: 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

//<!DOCTYPE Liky>
