.main-header {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;

  @media (min-width: $tablet-width) {

  }
}

.main-header__logo {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    max-width: 250px;
}
