.footer__html-academy-copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 78px;

  @media (min-width: $tablet-width) {
    height: 103px;
  }
}

.footer__html-academy__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }

  &:hover {
    .html-academy-logo {
      color: $light-green;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__html-academy__link-logo {
  display: flex;
  width: fit-content;
  height: auto;
}

.html-academy-logo {
  width: 27px;
  height: 34px;
  color: $special_grey-2;
  margin-left: 25px;

  &:hover {
    color: $light-green;
  }

  &:active {
    opacity: 0.3;
  }
}

//<!DOCTYPE Liky>
