.footer__text-logo {
  text-align: center;
  margin: 0;
}

.footer__text-logo-img {
  padding: 39px 0 22px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 26px 0 22px;
  }

  @media (min-width: $desktop-width) {
    padding: 32px 0 22px;
  }
}

//<!DOCTYPE Liky>
