.partnership {
  @include container();
  background-color: $footer-gray;
  padding: 15px 20px 12px;

  @media (min-width: $tablet-width) {
    padding: 60px 70px 60px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    z-index: 2;
    box-sizing: border-box;
    width: 570px;
    padding: 63px 75px;
    left: 110px;
    top: 94px;
    background-color: $main-color;
  }
}

.index-partnership {
  background-color: $main-color;
}

.partnership__wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.partnership__title {
  @include uppercase();
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $pre-black-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 25px;
    width: 170px;
  }
}

.partnership__adress {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 14px 5px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    width: 170px;
    text-align: right;
    margin: 2px 2px -2px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

//<!DOCTYPE Liky>
