.footer__html-academy-copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 78px;

  @media (min-width: $tablet-width) {
    height: 103px;
  }
}

.footer__html-academy__link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }
}

.footer__html-academy__link-logo {
  display: flex;
  width: fit-content;
  height: auto;

  /*@media (min-width: $tablet-width) {}*/
}

.html-academy-logo {
  /*//position: relative;
  left: 50%;*/
  width: 27px;
  height: 34px;
  color: $special_grey-2;

  &:hover {
    color: $light-green;
  }

  /*@media (min-width: $tablet-width) {}*/
}
