.location {
  @include container();
  display: flex;
  justify-content: center;
  min-height: 362px;
  height: 100%;
  background: center / cover no-repeat url("../img/logo/location-map.png");

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }
}

.location__organization-link {
  display: block;
  margin: auto;

  /*@media (min-width: $tablet-width) {}*/
}

.location__organization-logo {
  @media (min-width: $tablet-width) {
    width: 113px;
    height: 106px;
    margin: auto;
  }
}
